<!DOCTYPE html>
<html ng-app="plusApp">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Demo app</title>
  
  <link rel="stylesheet" href="css/foundation.min.css" />
  <link rel="stylesheet" href="css/app.css" />
</head>
<body>
  
  <div ng-controller="FrameController">    
    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="#">Mail</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        &nbsp;
      </section>
    </nav>
    
    <div class="row">
      <div id="mailbox_container" class="large-4 columns" ng-controller="MailListController">
        <div ng-include src="'sidebar.html'"></div>
      </div>
      <div class="large-8 small-6 columns">
        <div id="stage" ng-view></div>
      </div>
    </div>
  </div>
  
  <script type="text/ng-template" id="home.html">
  <div ng-show="!email"><h1>No conversation selected</h1></div>
  <form id="replyForm" ng-submit="sendForm()" ng-show="shouldShowReply">
    <!-- Reply bar -->
    <div class="row collapse">
      <div class="small-1 large-1 columns">
        <span class="prefix">To</span>
      </div>
      <div class="small-11 large-11 columns">
        <input ng-model="reply.to" type="text" placeholder="">
      </div>

    <!-- response -->
      <div class="small-12 large-12 columns">
        <textarea ng-bind-html-unsafe="reply.body" ng-model="reply.body">{{reply.body}}</textarea>
      </div>
    </div>
    
    <button ng-click="sendReply()" class="button radius">Send</button>
    <button ng-click="cancelReply()" class="button radius alert">Cancel</button>
  </form>
  
  <div ng-show="email" class="email row">
    <div class="row header">
      <div class="columns large-10 small-6">{{email.subject}}</div>
      <div class="columns large-2 small-6">{{email.sent_at|date:'MM/dd/yy'}}</div>
    </div>
    <div class="row actions">
      <div class="columns large-8 small-6"><b>{{email.from.join(", ")}}</b> to <b>{{email.to.join(", ")}}</b></div>
      <a ng-click="showReply()" class="button radius columns large-2 small-5">Reply</a>
    </div>
    
    <div class="row body">
      <div class="columns large-12" ng-bind-html-unsafe="email.body"></div>
    </div>
      
  </script>
  
  <script type="text/ng-template" id="sidebar.html">
    <div id="sidebar">
      <input type="search" placeholder="Filter messages" ng-model="search.$" />
      <ul id="emailListing">
        <li ng-repeat="mail in (email.all|filter: search.$)" ng-click="showEmail(mail.id)"> 
          <div class="emailListing row" ng-class="{'selected': isSelected(mail) }">
            <img class="large-3 columns" src="{{gravatarImageFor(mail.from[0])}}" />
            <div class="large-9 columns from">{{mail.from.join(', ')}}</div>
            <div class="large-9 subject columns">{{mail.subject}}</div>
            <div class="large-1 date">{{mail.sent_at|date:'MM/dd/yy'}}</div>
          </div>
        </li>
      </ul>
    </div>
  </script>
  
  <script src="js/vendor/angular.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>